.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0rem 6rem 0rem;
}

.header {
  margin-bottom: 4rem;
}

.newsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
 width: 460px;
}

.skeleton, .newsletter {
 width: 100%;
  max-width: 600px;
  height: 340px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 16px;
  color: #888;
  text-align: center;
}

.footer {
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .footer {
    align-items: center;
    justify-content: center;
  }
}

